@import "settings";
@import "foundation";

#header-block {
  margin-bottom: 1em;
}

.main-content {
  margin: 0.5em 1em 0 1em;
  position: relative;

  ul {
    list-style: none;
  }
}

.box-entity, .group-entity {
  display: block;
  position: relative;

  form {
    display: inline-block;

    input, button {
      display: inline-block;
    }
  }

  nav {
    display: none;
    ul {
      display: inline;
      list-style-type: none;

      li, li a {
        display: inline;
      }
    }
  }

  &:hover > nav {
    display: inline;
  }

  .draggable-dropzone {
    display: inline-block;

    &.activated {
      background-color: rgba(1.0, 0.0, 0.0, 0.1);
    }
  }
}

.draggable-item {
  cursor: move;
}

.purchase {
  margin-top: 1em;

  dl {
    dt {
      @extend h3;
    }

    dd button {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  table {
    width: 100%;

    td.vat {
      width: 9ex;
    }

    td.count {
      width: 9ex;
    }

    td.vat-included {
      width: 12ex;
    }

    td.price {
      width: 12ex;
    }
  }
}

.growl-manager {
  position: fixed;
  top: 3em;
  right: 1em;
  margin: 0;

  left: auto;
}

.growl-instance {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);

  h1, h2, h3, h4 {
    color: #fff;
  }
}

.footprint-summary {
  dl {
    dd, dt {
      display: block;
    }
  }
}

.hover-to-see-password {
  color: black;
  background-color: black;
}

button .edit, .button.edit {
  display: inline;

  @include button(
      rem-calc(1), //padding
      rgba(1.0, 1.0, 1.0, 0.00), // transparent
      0, // no radius
      false, // full width
      false, // enabled
      false //is-input
  );

  color: rgba(0.0, 0.0, 0.0, 0.3);
  margin: 0;

  &:hover {
    color: red;
  }
}

button .remove, .button.remove {
  @extend button.alert;
  display: inline;

  padding: rem-calc(3);
  margin: 0;
  color: white;
}

h3 {
  text-transform: uppercase;
  font-size: 90%;
  font-style: italic;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 1em;
}

table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
  margin-bottom: 1.5em;

  th {
    text-align: left;
  }

  thead tr {
    border: 0;
  }

  thead + tbody, tbody + tbody {
    border-top: solid thin darkgrey;

    tr {
      border: 0;
    }

    &.delivery::before {
      content: '';
      display: block;
      height: 1em;
    }
  }

  tbody:nth-child(odd) tr td {

  }

  tbody:nth-child(even) tr td {
    background: #f8f8f8;
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f8f8f8));
    background: -moz-linear-gradient(top, #fafafa, #f8f8f8);
  }

  tbody tr.summary td {
    padding-bottom: 0.5em;
    font-style: italic;
  }

  tbody tr:first-child td {
    padding-top: 0.5em;
  }

  thead tr th {
     padding-top: 0.5em;
  }

  thead:first-child tr th, thead:last-child tr th {
     padding-top: 0;
  }
}

table.purchase {
  td, th {
    padding-left: 1ex;
    padding-right: 1ex;
  }
}

nav.actions {
  position: absolute;
  right: 1em;
  top: 0em;
}

.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 600;
  background-color: rgba(0, 0, 0, 0.70);
}

.modal-window {
  .close-modal {
    font-size: 2.5rem;
    line-height: 1;
    position: absolute;
    top: 0.5rem;
    right: 0.6875rem;
    color: #AAA;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }

  .modal-content {
  }

  width: 80%;
  max-width: 100%;

  height: 60%;
  max-height: 90%;
  overflow: auto;

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);

  border-radius: 0.5rem;
  background-color: #FFF;
  border: 1px solid #666;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  padding: 1.875rem;
}

#camera {
  display: none;
  position: relative;
  left: -10000px;

  &.enabled {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 600;
    background-color: rgba(0, 0, 0, 0.70);
  }

  #cameraViewport {
    margin: 1em auto 1em auto;
  }

  nav, section, h3 {
    color: white;
    display: block;
    width: 640px;
    margin: 0 auto;
  }

  h3 {
    margin-top: 4em;
  }
}

.placeholder {
  color: lighten($body-font-color, 60%);
  font-style: italic;
}

.item-tree {
  @extend .small-6;
  @extend .large-3;
  @extend .columns;
  display: inline-block;
}

.item-list {
  @extend .row;
  & > li {
    @extend .small-6;
    @extend .large-3;
    @extend .columns;
  }
}

.two-level-index {
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -moz-column-count: 4; /* Firefox */
  column-count: 4;

  * > .hover-actions {
    display: none;
  }

  *:hover > .hover-actions {
    display: inline;

    a {
      color: lighten($body-font-color, 50%);
      background: transparent;
    }
  }

  & > li {
    display: inline-block;
    width: 100%;
    margin-bottom: 1em;

    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;

    & * {
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
      -moz-column-count: 1; /* Firefox */
      column-count: 1;
    }
  }
}

button.single-line {
  display: inline;
  margin: 0;
  padding: 0.1ex 0.3ex 0.1ex 0.5ex;
}

table.transaction-summary {
  th {
    font-size: 80%;
    text-transform: uppercase;
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.known-paper, .unselected-paper {
  li {
    display: none;
  }
}

.known-paper  li.always-on {
  display: block;
}

.sticker {
  height: 3em;
  overflow: hidden;
}
