<div class="row">
<section class="title columns small-12">
<h2>{{#click-to-edit content=model field='content.name' placeholder='place for name, title or id'}}{{model.name}}{{/click-to-edit}}</h2>
</section>
</div>

<div class="row">
<ul class="button-group round">
  <li><button class="small" {{action 'addBarcode' model}}>Add barcode</button></li>
  <li><button class="small" {{action 'addSticker' model}}>Add to sticker list</button></li>
  <li><button class="small" {{action 'showBarcode' model}}>Show barcode</button></li>
  {{#if model.canBeDeleted}}
  <li>{{#confirm-button action='deleteEntity' param=model class='small alert button'}}Delete{{/confirm-button}}</li>
  {{/if}}
</ul>
</div>

<div class="row">
    <section class="description columns small-12 large-6">
        <h3>Summary</h3>
        <p>{{#click-to-editarea content=model field='content.summary' placeholder='place for short summary'}}{{model.summary}}{{/click-to-editarea}}</p>

        <h3>Description</h3>

        <p>{{#click-to-editarea content=model field='content.description' placeholder='place for the full description'}}{{model.description}}{{/click-to-editarea}}</p>

      <h3>Barcodes</h3>

      {{#if model.codes}}
      <ul>
        {{#each model.codes as |code|}}
        {{bar-code model=code}}
        {{/each}}
        <li><a {{action 'addBarcode' model}}>Add barcode</a></li>
      </ul>
      {{else}}
      <p class="placeholder">No barcode. <a {{action 'addBarcode' model}}>Associate one.</a></p>
      {{/if}}
    </section>
    <section class="attachments columns small-12 large-6">

<h3>Attachments</h3>

<table>
    {{#each model.describedBy as |doc|}}
        {{doc-summary-line deleteDocument="deleteDocument" doc=doc}}
    {{/each}}
</table>

{{save-from-web action='download' entity=model}}
{{upload-attachments entity=model uploadFinished='uploadFinished'}}
{{#webcam-module uploadFinished='uploadFinished' entity=model}}
        <h3>Upload picture from webcam</h3>

        <p>Press pause to freeze a picure and then upload to send it to server. Simply un-pause and try again if you do not like the paused image. Once you are done, click the stop button to exit.</p>
{{/webcam-module}}
</section>
</div>

